PO/json_node
[
  {
    "id": "a1",
    "type": "mqtt in",
    "z": "1",
    "name": "Receber dados ESP32",
    "topic": "esp32/sensores",
    "broker": "mqtt_broker",
    "x": 160,
    "y": 100,
    "wires": [["a2", "a3", "a4", "a5"]]
  },
  {
    "id": "a2",
    "type": "debug",
    "z": "1",
    "name": "Debug Dados",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 400,
    "y": 60,
    "wires": []
  },
  {
    "id": "a3",
    "type": "ui_gauge",
    "z": "1",
    "name": "Temperatura",
    "group": "g1",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperatura (°C)",
    "label": "°C",
    "format": "{{payload.temperatura}}",
    "min": 0,
    "max": 50,
    "x": 410,
    "y": 120,
    "wires": []
  },
  {
    "id": "a4",
    "type": "ui_gauge",
    "z": "1",
    "name": "Umidade",
    "group": "g1",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Umidade (%)",
    "label": "%",
    "format": "{{payload.umidade}}",
    "min": 0,
    "max": 100,
    "x": 410,
    "y": 180,
    "wires": []
  },
  {
    "id": "a5",
    "type": "ui_gauge",
    "z": "1",
    "name": "Luminosidade",
    "group": "g1",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Luz (LDR)",
    "label": "",
    "format": "{{payload.luminosidade}}",
    "min": 0,
    "max": 4095,
    "x": 420,
    "y": 240,
    "wires": []
  },
  {
    "id": "a6",
    "type": "ui_button",
    "z": "1",
    "name": "Botão Virtual",
    "group": "g1",
    "order": 4,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Enviar Dados",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "send",
    "payload": "1",
    "payloadType": "str",
    "topic": "mandando",
    "x": 150,
    "y": 320,
    "wires": [["a7"]]
  },
  {
    "id": "a7",
    "type": "mqtt out",
    "z": "1",
    "name": "Enviar comando MQTT",
    "topic": "mandando",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 400,
    "y": 320,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "test.mosquitto.org",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "g1",
    "type": "ui_group",
    "name": "Sensores",
    "tab": "t1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "t1",
    "type": "ui_tab",
    "name": "Dashboard",
    "icon": "dashboard",
    "order": 1
  }
]
